@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap");

:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-playfair: 'Playfair Display', serif;
  --font-noto-sans-kr: 'Noto Sans KR', sans-serif;
}
